img{
    width: 150px;
    height: 100px;
    align-self: center;
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 3px solid black;
    margin-left: 20px;
}

.name{
    text-align: center;
    background-color: aquamarine;
}