.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  padding: 20px;
  width: full;
  margin-top: 10px;
  position: relative;
}

.buttonBack {
  position: absolute;
  right: 2%;
  top: 0px;
  color: aliceblue;
  font-size: 15px;
  width: fit-content;
  font-weight: 500;
  padding: 5px 10px;
  background: rgba(134, 101, 52, 0.911);
  border: 2px solid;
  border-color: rgba(175, 149, 111, 0.911);
  border-radius: 5px;
  cursor: pointer;
}

.fieldset {
  width: 80%;
  height: fit-content;
  border: solid 6px rgba(139, 119, 89, 0.911);
  border-radius: 5px;
  background-color: rgba(175, 149, 111, 0.911);
  margin-top: 1rem;
}

.legend {
  text-align: left;
  font-size: larger;
  font-weight: 700;
  color: rgba(51, 31, 2, 0.911);
}

.details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
  padding: 0px 10px;
}

.rigth {
  display: flex;
  flex-direction: column;
  @media (min-width: 1000px) {
    flex-direction: row;
    justify-content: space-evenly;
  }
}

.span {
  font-weight: 500;
}

.img {
  min-width: 250px;
  width: 80%;
  max-width: 400px;
  height: auto;
  max-height: 350px;
  border-radius: 8px;
}

.activities {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 20px 30px;
  justify-content: center;
  justify-items: center;
}

.spinnerContainer {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner {
  border: 15px solid rgb(172, 146, 99);
  width: 90px;
  height: 90px;
  border-radius: 50%;
  border-left-color: rgb(94, 76, 46);
  animation: spin 1s ease infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 645px) {
  .container {
    flex-direction: column;
    align-items: center;
  }
}

@media (min-width: 1000px) {
  .section {
    text-align: left;
  }
}
