.container {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin: 30px 0px;
  justify-content: center;
}

.fieldset {
  width: fit-content;
  border-radius: 5px;
  border: 3px solid;
  border-color: rgba(92, 62, 18, 0.911);
}

.legend {
  text-align: left;
  font-size: 11px;
  font-weight: 700;
}

.select {
  margin: 0%;
  padding: 0%;
  width: 100%;
  height: 20px;
  border: none;
  outline: none;
  text-align: left;
  font-size: large;
  background-color: transparent;
  cursor: pointer;
}

option {
  background-color: rgba(175, 149, 111, 0.911);
  cursor: pointer;
}

option ::-webkit-keygen-select {
  background-color: red;
}
