.contents{
    display: grid;
    grid-template-columns: repeat(auto-fill , 200px);
    gap: 60px;
    margin: 40px 90px;
    justify-content: center;
}
.container{
    
}

.notFound{
    width: 1000px;
    font-size: xx-large;
}
 
  