.contents{
    display: grid;
    grid-template-columns: repeat(auto-fill , 200px);
    gap: 20px;
    margin-top: 40px;
    margin-bottom: 40px;
}

/* .contents :hover{
    transform: translateY(-10px);
} */