
.main{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
    /* background-image: url("https://thumbs.gfycat.com/ImmaculateGlossyAsiaticmouflon-size_restricted.gif"); */
    /* background-image: url("https://www.maropeng.co.za/uploads/imager/files/19836/16345540736_68701c74f0_o_afef620cc5622511447db0fd14cf5cfe.jpg"); */
    /* background-image: url("https://i.pinimg.com/originals/11/08/27/110827cb65c3a1eaed04a7d575cf82f0.gif"); */
    /* background-image: url("https://estaticos.muyinteresante.es/uploads/images/report/5f27ea8c5cafe8872b3b4979/mapas_0.jpg"); */
    /* background-image: url("https://i.pinimg.com/originals/02/86/a6/0286a6597c2a22e58952a3657eb4c605.jpg"); */
    /* background-image: url("https://img.freepik.com/foto-gratis/reloj-colgante-mapa-mundo_62754-2407.jpg?w=2000"); */
    /* background-image: url("https://images4.alphacoders.com/175/175466.jpg"); */
    /* background-image: url("https://fondosmil.com/fondo/2737.jpg"); */
    


}
.body{
    height: 100vh; 
    width: 100vw;
    background-image: url("https://estaticos.muyinteresante.es/uploads/images/report/5f27ea8c5cafe8872b3b4979/mapas_0.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed fixed;
    background-color: black;
}
/* .main{
    display: flex;
    width: 70%;
    height: 70%;
    flex-direction: column;
    justify-items: legacy;
    background-color: aqua;
    position: relative;
} */

.title{
    color: black;
    /* background-color: blueviolet; */
    display: flex;
    justify-content: center;
    width: 100%;
}

.button{
    font-size: x-large;
    width: 100%;
    height: max-content;
    /* background-color: red; */
}
