.container {
  height: auto;
  background-color: aqua;
  position: relative;
  display: flex;
  justify-content: center;
}

.img {
  width: 1000px;
  height: 1000px;
  position: absolute;
  top: -340px;
}
