.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, 50px);
  gap: 12px;
  height: auto;
  justify-content: center;
  margin: 30px 50px;
}

.button {
  background-color: rgba(175, 149, 111, 0.911);
  border-radius: 5px;
  padding: 10%;
  border-color: rgba(175, 149, 111, 0.911);
  font-weight: 700;
}

.button :active {
  cursor: pointer;
  transform: translateY(-10px);
}

.active {
  background-color: rgba(105, 78, 36, 0.911);
  color: white;
}
